@page
@model RequesterModel
@{
    ViewData["Title"] = "Your Requested Projects";
}
<h2>@ViewData["Title"]</h2>
<div class="d-flex justify-content-end">
    <a asp-page="../Form" class="btn btn-info">Submit a Request <i class="fa fa-plus"></i></a>
</div>
<div class="row">
    @foreach (var Proposal in Model.Proposals)
    {
        <div class="col-12">
            <div class="card my-3 shadow">
                <div class="card-header">
                    <h3 class="mb-0">@Html.DisplayFor(modelItem => Proposal.Title)</h3>
                    <br />
                    <i>Submitted: @Html.DisplayFor(modelItem => Proposal.SubmitDate)</i>
                </div>
                    <div class="card-body">
                        <p class="card-text" style="overflow: scroll; height:100px">
                            @Html.DisplayFor(modelItem => Proposal.Description)
                        </p>
                        <a asp-page="/IST/ProjectDetails" asp-route-id="@Proposal.Id" class="btn btn-success">Details</a>
                    </div>
                <div class="container card-footer text-muted">
                    <div class="row">
                        <div class="col">
                            <b>Status: </b>@Html.DisplayFor(modelItem => Proposal.Status.StatusDescription)
                        </div>
                        <div class="col d-flex justify-content-end">
                            <a class="text-danger" asp-page="./CancelRequest" asp-route-id="@Proposal.Id"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
