@page
@model DeveloperModel
@{
    ViewData["Title"] = "Your Assigned Projects";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    @foreach (var Proposal in Model.Proposals)
    {
        <div class="col-sm-3">
            <div class="card text-center my-3 shadow">
                <div class="card-header">
                    <b>@Html.DisplayNameFor(model => model.Proposals[0].SubmitDate)</b>:
                    @Html.DisplayFor(modelItem => Proposal.SubmitDate)
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                    @Html.DisplayFor(modelItem => Proposal.Title)
                    </h5>
                    <p class="card-text" style="overflow: scroll; height:100px">
                        @Html.DisplayFor(modelItem => Proposal.Description)
                    </p>
                    <a asp-page="./ProjectDetails" asp-route-id="@Proposal.Id" class="btn btn-success">Details</a>
                </div>
                <div class="card-footer text-muted">
                    <b>Status: </b><a asp-page="./EditStatusCode" asp-route-id="@Proposal.Id">@Html.DisplayFor(modelItem => Proposal.StatusId)</a>
                </div>
            </div>
        </div>
    }
</div>
