@page "{id}"
@model Edit
@{
    ViewData["Title"] = "Project Title:";
}
<h2><b>@ViewData["Title"]</b> @Html.DisplayFor(model => model.Proposal.Title)</h2>
<hr>
<form method="post">
    <div class="row">
        @if(User.IsInRole("Ist_TeamLeader"))
        {
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>Assignee for @Html.DisplayFor(model => model.Proposal.Title)</dt>
                    <dd>
                        <select class="custom-select mb-4 col-12" asp-for="Assignee" asp-items="@Model.ISTUsers"></select>
                        <br>
                    </dd>
                </dl>
            </div>
        }

        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Status Code</dt>
                <dd>
                    <select class="custom-select mb-4 col-12" asp-for="NewStatusCode" asp-items="@Model.Status"></select>
                    <br>
                </dd>
            </dl>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-info">Save</button>
        <a class="btn btn-danger" asp-page="/IST/ProjectDetails" asp-route-id="@Model.Proposal.Id">Cancel</a>
    </div>
</form>
