@page
@model Edit
@{
    ViewData["Title"] = "Project Title:";
}
<h2><b>@ViewData["Title"]</b> @Html.DisplayFor(model => model.Submission.Title)</h2>
<hr>
<form method="post">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    Assignee for @Html.DisplayFor(model => model.Submission.Title)
                </dd>
                <dd>
                    <select class="custom-select mb-4 col-12" name="Assignee">
                        <option value="PKOUTOUL">Pete</option>
                        <option value="andre.thomas">Andre</option>
                        <option value="RMCQUERR">Ryan</option>
                        <option value="james.howard2">James</option>
                    </select>
                    <br>
                </dd>
            </dl>
        </div>

        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    Status Code
                </dt>
                <dd>
                    <select class="custom-select mb-4 col-12" name="NewStatusCode">
                        @foreach(var Code in Model.StatusCodes)
                        {
                            <option value="@Code.ID" name="NewStatusCode">@Html.DisplayFor(model => Code.ID) - @Html.DisplayFor(model => Code.StatusDescription)</option>
                        }
                    </select>
                    <br>
                    <!-- <button type="submit" class="btn btn-info">Save</button>
                    <a class="btn btn-danger" asp-page="./Teamlead">Cancel</a> -->
                </dd>
            </dl>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-info">Save</button>
        <a class="btn btn-danger" asp-page="/IST/ProjectDetails" asp-route-id="@Model.Submission.ID">Cancel</a>
    </div>
</form>