@page "{id}"
@model ProjectDetails
@{
    ViewData["Title"] = "Project Details";
}

<h2 class="mb-5">@ViewData["Title"]</h2>

<div class="container mb-2">
    <div class="row">
        <div class="col-3">
            <h4>Date & Time</h4><hr>
            <p>@Html.DisplayFor(model => model.Proposals.SubmitDate)</p>
        </div>
        <div class="col-3">
            <h4>Project Title</h4><hr>
            @Html.DisplayFor(model => model.Proposals.Title)
        </div>
        <div class="col-3">
            <h4>Requester</h4><hr>
            @Html.DisplayFor(model => model.Proposals.SubmitterName)
        </div>
        <div class="col-3">
            <h4>Location</h4><hr>
            @Html.DisplayFor(model => model.Proposals.SubmitterLocation)
        </div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">
        <h4>@Html.DisplayNameFor(model => model.Proposals.Description)</h4><hr>
        <p>@Html.DisplayFor(model => model.Proposals.Description)</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Desired Completion Date</h4><hr>
            <p>@Html.DisplayFor(model => model.Proposals.DesiredCompletion)</p>
        </div>
        <div class="col-3">
            <h4>Status</h4><hr>
            @Html.DisplayFor(model => model.Proposals.Status)
        </div>
        @if(User.IsInRole("ist_Teamleader"))
        {
            <div class="col-3">
                <h4>Assigned To</h4>
                <hr>
                @Html.DisplayFor(model => model.Proposals.AssignedTo)
                <a asp-page="./Edit" class="text-info" asp-route-id="@Model.Proposals.Id">Update</a>
            </div>
        }
    </div>
</div>

<div class="container mt-3">
    <div class="row">
    @if(User.IsInRole("ist_Teamleader") || !User.IsInRole("Information Solutions Team"))
    {
        <div class="col-6">
            <h4>Requester Comments</h4><hr>
            <div class="scroll-comments w3-border-bottom mb-3 py-2">
                @foreach(var Comment in Model.RequesterComments)
                {
                    <div class="message to bg-info">
                        <p>
                        <b>@Html.DisplayFor(modelItem => Comment.Commenter)</b>
                        <br>
                        @Html.DisplayFor(modelItem => Comment.Comment)
                        <br>
                        <span style="font-size: 0.5em; font-style: italic;">
                            Sent at @Html.DisplayFor(modelItem => Comment.DateTime)
                        </span>
                        </p>
                    </div>
                }
            </div>
            <form asp-page-handler="requester" method="post">
                <input type="hidden" class="form-control" name="ID" value="@Model.Proposals.Id" />
                <input type="text" class="form-control" name="Body" placeholder="Add Comment" />
                <input type="submit" class="btn btn-info btn-sm my-2 float-right" />
            </form>
        </div>
    }
    @if(User.IsInRole("Information Solutions Team"))
    {
        <div class="col-6">
            <h4>Developer Comments</h4><hr>
            <div class="scroll-comments w3-border-bottom mb-3 py-2 rounded">
                @foreach(var Comment in Model.DeveloperComments)
                {
                    <div class="message to bg-dark">
                        <p>
                        <b>@Html.DisplayFor(modelItem => Comment.Commenter)</b>
                        <br>
                        @Html.DisplayFor(modelItem => Comment.Comment)
                        <br>
                        <span style="font-size: 0.5em; font-style: italic;">
                            Sent at @Html.DisplayFor(modelItem => Comment.DateTime)
                        </span>
                        </p>
                    </div>
                }
            </div>
            <form asp-page-handler="developer" method="post">
                <input type="hidden" class="form-control" name="ID" value="@Model.Proposals.Id" />
                <input type="text" class="form-control" name="Body" placeholder="Add Comment" />
                <input type="submit" class="btn btn-dark btn-sm my-2 float-right" />
            </form>
        </div>
    }
    </div>
</div>

<div>
    <a asp-page="./Teamlead">Back to List</a>
</div>
