@page
@model ProjectDetails
@{
    ViewData["Title"] = "Project Details";
}

<h2 class="mb-5">@ViewData["Title"]</h2>

<div class="container mb-2">
    <div class="row">
        <div class="col-3">
            <h6>Date & Time</h6><hr>
            <p>@Html.DisplayFor(model => model.Submission.Date)</p>
        </div>
        <div class="col-3">
            <h6>Project Title</h6><hr>
            @Html.DisplayFor(model => model.Submission.Title)
        </div>
        <div class="col-3">
            <h6>Requester</h6><hr>
            @Html.DisplayFor(model => model.Submission.FirstName) @Html.DisplayFor(model => model.Submission.LastName)
        </div>
        <div class="col-3">
            <h6>Location</h6><hr>
            @Html.DisplayFor(model => model.Submission.Location)
        </div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">
        <div class="col-6">
            <h6>@Html.DisplayNameFor(model => model.Submission.ProjectDescription)</h6><hr>
            <p>@Html.DisplayFor(model => model.Submission.ProjectDescription)</p>
        </div>
        <div class="col-6">
            <h6>@Html.DisplayNameFor(model => model.Submission.Goal)</h6><hr>
            @Html.DisplayFor(model => model.Submission.Goal)
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h6>Desired Completion Date</h6><hr>
            <p>@Html.DisplayFor(model => model.Submission.DesiredCompletionDate)</p>
        </div>
        <div class="col-3">
            <h6>Status</h6><hr>
            @Html.DisplayFor(model => model.Submission.Status)
        </div>
        <div class="col-3">
            <h6>Assigned To</h6>
            <hr>
            @Html.DisplayFor(model => model.Submission.AssignedTo)
            <a asp-page="./Edit" asp-route-id="@Model.Submission.ID">Update</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <!-- <div class="col-12">
            <h6>Comments</h6><hr>
            @foreach(var Comment in Model.Comments)
            {
                <p>@Html.DisplayFor(modelItem => Comment.CreatedBy)</p>
                <p>@Html.DisplayFor(model => model.Submission.Comments)</p>
            }
        </div> -->
        <form method="post" class="col-12">
            <input type="text" class="form-control" name="Body" asp-for="@Model.Comment.Body" placeholder="Add Comment" />
            <input type="submit" class="btn btn-primary btn-sm my-2 float-right" />
        </form>
    </div>
</div>

<div>
    <a asp-page="./Teamlead">Back to List</a>
</div>