@page "{id}"
@model ProjectDetails
@{
    ViewData["Title"] = "Project Details";
}

<h2 class="mb-5">@ViewData["Title"]</h2>

<div class="container mb-2">
    <div class="row">
        <div class="col-3">
            <h4>Date & Time</h4><hr>
            <p>@Html.DisplayFor(model => model.Proposal.SubmitDate)</p>
        </div>
        <div class="col-3">
            <h4>Project Title</h4><hr>
            @Html.DisplayFor(model => model.Proposal.Title)
        </div>
        <div class="col-3">
            <h4>Requester</h4><hr>
            @Html.DisplayFor(model => model.Proposal.SubmittedBy)
        </div>
        <div class="col-3">
            <h4>Location</h4><hr>
            @Html.DisplayFor(model => model.Proposal.SubmitterLocation)
        </div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">
        <div class="col-6">
            <h4>@Html.DisplayNameFor(model => model.Proposal.ProjectDescription)</h4><hr>
            <p>@Html.DisplayFor(model => model.Proposal.ProjectDescription)</p>
        </div>
        <div class="col-6">
            <h4>@Html.DisplayNameFor(model => model.Proposal.Goal)</h4><hr>
            @Html.DisplayFor(model => model.Proposal.Goal)
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Desired Completion Date</h4><hr>
            <p>@Html.DisplayFor(model => model.Proposal.DesiredCompletionDate)</p>
        </div>
        <div class="col-3">
            <h4>Status</h4><hr>
            @Html.DisplayFor(model => model.Proposal.Status)
        </div>
        <div class="col-3">
            <h4>Assigned To</h4>
            <hr>
            @Html.DisplayFor(model => model.Proposal.AssignedToName)
            <a asp-page="./Edit" class="text-info" asp-route-id="@Model.Proposal.ID">Update</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <h4>Requester Comments</h4><hr>
            <div class="scroll-comments w3-border mb-3 py-2 rounded">
                @foreach(var Comment in Model.RequesterComments)
                {
                    <div class="message to bg-info">
                        <p>
                        <b>@Html.DisplayFor(modelItem => Comment.CreatedByName)</b>
                        <br>
                        @Html.DisplayFor(modelItem => Comment.Body)
                        <br>
                        <span style="font-size: 0.5em; font-style: italic;">
                            Sent at @Html.DisplayFor(modelItem => Comment.CreatedAt)
                        </span>
                    </div>
                }
            </div>
            <form method="post">
                <input type="hidden" class="form-control" name="ID" value="@Model.Proposal.ID" />
                <input type="text" class="form-control" name="Body" placeholder="Add Comment" />
                <input type="submit" class="btn btn-info btn-sm my-2 float-right" />
            </form>
        </div>
        <div class="col-6">
            <h4>Developer Comments</h4><hr>
            <div class="scroll-comments w3-border mb-3 py-2 rounded">
                @foreach(var Comment in Model.DeveloperComments)
                {
                    <div class="message to bg-dark">
                        <p>
                        <b>@Html.DisplayFor(modelItem => Comment.CreatedByName)</b>
                        <br>
                        @Html.DisplayFor(modelItem => Comment.Body)
                        <br>
                        <span style="font-size: 0.5em; font-style: italic;">
                            Sent at @Html.DisplayFor(modelItem => Comment.CreatedAt)
                        </span>
                        </p>
                    </div>
                }
            </div>
            <form method="post">
                <input type="hidden" class="form-control" name="ID" value="@Model.Proposal.ID" />
                <input type="text" class="form-control" name="Body" placeholder="Add Comment" />
                <input type="submit" class="btn btn-dark btn-sm my-2 float-right" />
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Teamlead">Back to List</a>
</div>