@page
@model TeamleadModel
@{
    ViewData["Title"] = "Teamleader Dashboard";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    @foreach (var Proposal in Model.Proposals)
    {
        <div class="col-sm-3">
            <div class="card text-center my-3 shadow">
                <div class="card-header">
                    <b>Submit Date</b>:
                    @Html.DisplayFor(modelItem => Proposal.SubmitDate)
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => Proposal.Title)
                    </h5>
                    <p class="card-text" style="overflow: scroll; height:100px">
                        @Html.DisplayFor(modelItem => Proposal.Description)
                    </p>
                    <a asp-page="./ProjectDetails" asp-route-id="@Proposal.Id" class="btn btn-success mt-2">Details</a>
                </div>
                <div class="card-footer text-muted">
                    <b>Assigned to: </b>@Html.DisplayFor(modelItem => Proposal.DeveloperName.Name)<br>
                    <b>Status: </b><a asp-page="./Edit" asp-route-id="@Proposal.Id">@Html.DisplayFor(modelItem => Proposal.StatusId)</a> | <a class="text-danger" asp-page="./Delete" asp-route-id="@Proposal.Id"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
    }
</div>
