@page
@model TeamleadModel
@{
    ViewData["Title"] = "Teamleader Dashboard";
}
<h2>@ViewData["Title"]</h2>

<table class="table col-md-12">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Submissions[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submissions[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submissions[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submissions[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Submission in Model.Submissions)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => Submission.Date)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => Submission.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Submission.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Submission.Status)
                </td>
                <td style="width:200px">
                    <a asp-page="./Edit" asp-route-id="@Submission.ID"><i class="far fa-edit"></i></a> |
                    <a asp-page="./Details" asp-route-id="@Submission.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@Submission.ID"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>