@page
@model TeamleadModel
@{
    ViewData["Title"] = "Teamleader Dashboard";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    @foreach (var Submission in Model.Submissions)
    {
        <div class="col-sm-3">
            <div class="card text-center my-3 shadow">
                <div class="card-header">
                    <b>@Html.DisplayNameFor(model => model.Submissions[0].Date)</b>:
                    @Html.DisplayFor(modelItem => Submission.Date)
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                    @Html.DisplayFor(modelItem => Submission.Title)
                    </h5>
                    <p class="card-text" style="overflow: scroll; height:100px">
                        @Html.DisplayFor(modelItem => Submission.ProjectDescription)
                    </p>
                    <a asp-page="./ProjectDetails" asp-route-id="@Submission.ID" class="btn btn-success">Details</a>
                </div>
                <div class="card-footer text-muted">
                    <b>Assigned to: </b>@Html.DisplayFor(modelItem => Submission.AssignedTo)<br>
                    <b>Status: </b><a asp-page="./EditStatusCode" asp-route-id="@Submission.ID">@Html.DisplayFor(modelItem => Submission.Status)</a> | <a class="text-danger" href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
    }
</div>
